body,p{
  font-family: Arial;
  text-align: center;
  font-size: 200%;
}
title{
  font-family: "Monotype Corsiva";
}
ol{
  width:500px;
  text-align: center;
}
h1{
  font-family: "Comic Sans MS";
  font-size: 200%;
  text-align: center;
}
body{
  background-color: #87CEFA;
}
tr,th,td{
  border: 10px solid black;
  padding:10px;
}
table{
  font-size: 150%;
  border-collapse: collapse;
}s
.pic{
  margin:10px;
  text-align: left;
  display:inline-block;
}
.fact{
  width: 2000px;
}
ul {
  text-align: center;
  list-style: inside;
}
